<script>
	var yiliaConfig = {
		mathjax: <%=theme.mathjax%>,
		isHome: <%=is_home()%>,
		isPost: <%=is_post()%>,
		isArchive: <%=is_archive()%>,
		isTag: <%=is_tag()%>,
		isCategory: <%=is_category()%>,
		open_in_new: <%=theme.open_in_new%>,
		toc_hide_index: <%=theme.toc_hide_index%>,
		root: "<%=config.root%>",
		innerArchive: <%=theme.smart_menu.innerArchive ? true : false%>,
		showTags: <%=(theme.slider && theme.slider.showTags) ? true : false%>
	}
</script>

<%- partial('script') %>

<% if (theme.mathjax){ %>
<%- partial('mathjax') %>
<% } %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/js/swiper.min.js"></script>
<script>
new Swiper ('.ads-swiper', {
	pagination: {
		el: '.swiper-pagination',
		clickable: true,
		renderBullet: function (index, className) {
			return '<span class="' + className + '">' + (index + 1) + '</span>';
		},
	},
})
</script>